<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <% if @artist %>
    <h1>Records by <%= @artist.name %></h1>
  <% else %>
    <h1>Records</h1>
  <% end %>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <%= link_to 'New Record', new_record_path, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>

<table id="records" class="display table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Condition</th>
      <th>Genre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.title %></td>
        <td><%= record.artist.name %></td>
        <td><%= record.year %></td>
        <td><%= record.condition.titleize %></td>
        <td><%= record.genre.titleize %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
$(document).ready(function(){
  $('#records').DataTable({
    "columnDefs": [
        {
            orderable: false,
            targets: [5,6]
        }
    ]
  });

});
</script>
